/vendor
/node_modules
.env
.phpunit.result.cache
/database/database.sqlite
*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

